@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="stat-card blue">
            <div class="icon">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <h6>Total Requests</h6>
            <h3>120</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card green">
            <div class="icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <h6>Completed</h6>
            <h3>98</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card orange">
            <div class="icon">
                <i class="fas fa-spinner"></i>
            </div>
            <h6>In Progress</h6>
            <h3>15</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card purple">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <h6>Service Men</h6>
            <h3>7</h3>
        </div>
    </div>
</div>
